<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue JSBlog</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>{{ greet () }}</h1>
      <a :href="website">Google</a>
      <input type="text" name="" :value="name">
      <p v-html="websiteTag"></p>
    </div>

    <div id="vue-app-events">
      <h2>Events</h2>
      <button @click.once="add(1)">Add a year</button>
      <button @click="subtract(1)">Subtract a year</button>

      <button @dblclick="add(10)">Add 10 years</button>
      <button @dblclick="subtract(10)">Subtract 10 years</button>
      <p>My age is {{age}}</p>
      <div id="canvas" @mousemove="updateXY">
        {{x}}, {{y}}
      </div>
      <a v-on:click.prevent.once="click" href="http://google.pl">google 2</a>
    </div>

    <div id="vue-app-keyboard">
      <h1>Keyboard Events</h1>
      <label>Name:</label>
      <input type="text" v-model="name">
      {{name}}
      <label>Age:</label>
      <input type="text" v-model="age">
      {{age}}
    </div>

    <div id="vue-app-dynamic-css">
      <h1>Dynamic css</h1>
      <h2>example1</h2>
      <div @click="available = !available" v-bind:class="{available: available}">
        <span>LOL</span>
      </div>
      <h2>example2</h2>
      <button @click="nearby = !nearby">Toggle nearby</button>
      <button @click="available = !available">Toggle available</button>
      <div :class="compClasses">
        <span>LOL</span>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
